.AddNewItemForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonAdd {

}

/*.filter-active {*/
/*    background-color: blue;*/
/*}*/

/*.error {*/
/*    border-color: red;*/
/*}*/
