.todolist {
    display: flex;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-direction: column;
}

.lists {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.list {
    padding: 10px;
    /*background: inherit;*/
    /*overflow: hidden;*/
    /*filter: blur(1px);*/
    /*filter: url(#blur-filter);*/
}

/*.todoList {*/
/*  width: 300px;*/
/*}*/

/*.todoList > div {*/
/*  padding: 10px;*/
/*}*/

/*.todoList-task {*/

/*}*/

/*.todoList-task.done {*/
/*    opacity: 0.5;*/
/*}*/

/*.filter-active {*/
/*    background-color: blue;*/
/*}*/

/*.error {*/
/*    border-color: red;*/
/*}*/