.lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 90vw;
    min-height: 80vh;
    position: relative;
    z-index: 1;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    /*position: relative;*/
    border: 4px solid black;
}

.list {
    z-index: 2;
    border: 1px solid white;
    border-radius: 20px;
    height: 35vh;
    width: 29vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(150, 150, 150, 0.5);
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    overflow-y: scroll;
    scroll-behavior: smooth;
    /*background: inherit;*/
    /*overflow: hidden;*/
    /*filter: blur(1px);*/
    /*filter: url(#blur-filter);*/
}

::-webkit-scrollbar {
    width: 5px;
    height: 50px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 100%;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    height: 5px;
    width: 5px;
}

@media screen and (max-width: 650px) {
    .lists {
        flex-direction: column;
        align-items: center;
    }
    .list {
        height: 35vh;
        width: 80vw;
    }
}

/*.todoList {*/
/*  width: 300px;*/
/*}*/

/*.todoList > div {*/
/*  padding: 10px;*/
/*}*/

/*.todoList-task {*/

/*}*/

/*.todoList-task.done {*/
/*    opacity: 0.5;*/
/*}*/

/*.filter-active {*/
/*    background-color: blue;*/
/*}*/

/*.error {*/
/*    border-color: red;*/
/*}*/