.wrapper {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.App,
.blur {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.App {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blur {
    z-index: 1;
    background-image: url(./assets/images/29978-tehnicheskaya_podderzhka-dizajn_interera-rabochij_stol-mebel-tablica-5616x3744.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    filter: blur(2px);
}


.HeaderPart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.Title {
    color: #fff;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TasksTable {
    /*border: 5px solid firebrick;*/
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
